<a routerLink="" id="title">Preschool Planner</a>

<div id="nav">
  <ul>
    <li>
      <a routerLink="share" routerLinkActive="router-link-active">
        <i class="material-icons" style="font-size: 55px;">share</i>
        <br><span style="font-size:15px;">Share</span>
      </a>
    </li>
    <li>
        <a routerLink="assessment" routerLinkActive="router-link-active">
          <i class="material-icons" style="font-size: 55px;">bar_chart</i>
          <br><span style="font-size:15px;">Track</span>
        </a>
      </li>
      <li>
          <a routerLink="learn" routerLinkActive="router-link-active">
            <i class="material-icons" style="font-size: 55px;">school</i>
            <br><span style="font-size:15px;">Learn</span>
          </a>
        </li>
        <li>
            <a routerLink="teach" routerLinkActive="router-link-active">
              <i class="material-icons" style="font-size: 55px;">create</i>
              <br><span style="font-size:15px;">Teach</span>
            </a>
          </li>
  </ul>
</div>