#homeGrid{
    width: calc(100vw - 9px);
    height: calc(100vh - 79px);
    height: -o-calc(100vh - 79px);
    height: -moz-calc(100vh - 79px);
    height: -webkit-calc(100vh - 79px);
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-gap: 3px;
    margin-left:3px;
    margin-top:3px;
}
.gridCell{
    position:relative;
}
.gridCell a{
    display:block;
    width:100%;
    height:100%;
    background: black;
    opacity:.5;
    z-index:10;
}
.cellTitle{
    display:block;
    height:30px;
    width:100px;
    position:absolute;
    top:50%;
    margin-top:-15px;
    font-size:30px;
    z-index:11;
    color:white;
    left:50%;
    margin-left:-50px;
    filter: blur(0px)
}
#homeTeach{
    background: url('/assets/homeHeader.jpg');
    background-size: cover;
    background-position: bottom;
    animation: fadeIn 1s;
    animation-delay: 0s;
    animation-fill-mode:both;
}
.gridCell a:hover{
    filter: blur(10px);
    transition:all .2s;

}
#homeTrack{
    background: url('/assets/homeTrack.jpg');
    background-size: cover;
    background-position: center;
    animation: fadeIn 1s;
    animation-delay: .6s;
    animation-fill-mode:both;
}
#homeLearn{
    background: url('/assets/homeLearn.jpg');
    background-size: cover;
    background-position: bottom;
    animation: fadeIn 1s;
    animation-delay: .2s;
    animation-fill-mode:both;
}
#homeShare{
    background: url('/assets/homeShare.jpg');
    background-size: cover;
    background-position: center;
    animation: fadeIn 1s;
    animation-delay: .4s;
    animation-fill-mode:both;
}

@keyframes fadeIn{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}