#homeGrid{
    width: calc(100vw - 9px);
    height: calc(100vh - 79px);
    height: -o-calc(100vh - 79px);
    height: -moz-calc(100vh - 79px);
    height: -webkit-calc(100vh - 79px);
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-gap: 3px;
    margin-left:3px;
    margin-top:3px;
}
.gridCell{
    position:relative;
}
.gridCell a{
    display:block;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.5);
    z-index:10;
}
.gridCell a:hover{
    background: rgba(0, 0, 0, 0.8);
    transition: all 1s;
}
.cellTitle{
    display:block;
    width:46vmin;
    height:20vmin;
    position:absolute;
    top:50%;
    margin-top:-10vmin;
    font-size:5vmin;
    z-index:11;
    color: white;;
    left:50%;
    margin-left:-23vmin;
    font-weight: bold;
}
.cellSubtitle{
    font-size: 3vmin;
    position:relative;
    top:1.8vh;
    color:white;
    font-weight:100;
}



#homeTeach{
    background: url('/assets/homeHeader.jpg');
    background-size: cover;
    background-position: bottom;
    animation: fadeIn 1s;
    animation-delay: 0s;
    animation-fill-mode:both;
}
#homeTrack{
    background: url('/assets/homeTrack.jpg');
    background-size: cover;
    background-position: center;
    animation: fadeIn 1s;
    animation-delay: .6s;
    animation-fill-mode:both;
}
#homeLearn{
    background: url('/assets/homeLearn.jpg');
    background-size: cover;
    background-position: bottom;
    animation: fadeIn 1s;
    animation-delay: .2s;
    animation-fill-mode:both;
}
#homeShare{
    background: url('/assets/homeShare.jpg');
    background-size: cover;
    background-position: center;
    animation: fadeIn 1s;
    animation-delay: .4s;
    animation-fill-mode:both;
}

@keyframes fadeIn{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}