<div id="content">

<div id="homeHeader">
  <h2 align="center">Welcome To Preschool Planner</h2>
    <div id="subtitile">
      <h4 align="center">The All-In-One Tool For Teacher Resources, Planning, <br>Tracking Development and More</h4>
    </div>
</div>
<!--Teach Section-->
<div id="homeTeachContainer">
    <div>
      <img src="/assets/homeHeader.jpg" class="teachPic">
    </div>
    <div class="homeText" align="right">
        <i class="material-icons homeTextIcon">create</i>
        <i>Teach</i>
        <p class="homeBlurb">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere nisi eget eros dignissim aliquet. Sed accumsan est eu ullamcorper tristique. Etiam pretium eros nec sapien volutpat facilisis. Donec elementum leo non velit pretium suscipit. Nunc accumsan tempor consectetur. Lorem ipsum dolor sit</p>
    </div>
    </div>

  <!--Learn Section-->
  <div id="homeLearnContainer">
      <div class="homeText" align="left">
          <i class="material-icons homeTextIcon">school</i>
          <i>Learn</i>
          <p class="homeBlurb">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere nisi eget eros dignissim aliquet. Sed accumsan est eu ullamcorper tristique. Etiam pretium eros nec sapien volutpat facilisis. Donec elementum leo non velit pretium suscipit. Nunc accumsan tempor consectetur. Lorem ipsum dolor sit</p>
      </div>
       <div>
        <img src="/assets/homeLearn.jpg" class="teachPic">
      </div>
    </div>

<!--Track Section-->
<div id="homeTrackContainer">
  <div>
    <img src="/assets/homeTrack.jpg" class="teachPic">
  </div>
  <div class="homeText" align="right">
      <i class="material-icons homeTextIcon">bar_chart</i>
      <i>Track</i>
      <p class="homeBlurb">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere nisi eget eros dignissim aliquet. Sed accumsan est eu ullamcorper tristique. Etiam pretium eros nec sapien volutpat facilisis. Donec elementum leo non velit pretium suscipit. Nunc accumsan tempor consectetur. Lorem ipsum dolor sit</p>
  </div>
  </div>

<!--Share Section-->
<div id="homeShareContainer">
    <div class="homeText" align="left">
        <i class="material-icons homeTextIcon">share</i>
        <i>Share</i>
        <p class="homeBlurb">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere nisi eget eros dignissim aliquet. Sed accumsan est eu ullamcorper tristique. Etiam pretium eros nec sapien volutpat facilisis. Donec elementum leo non velit pretium suscipit. Nunc accumsan tempor consectetur. Lorem ipsum dolor sit</p>
    </div>
     <div>
      <img src="/assets/homeShare.jpg" class="teachPic">
    </div>
  </div>


