<div id="homeGrid">
  <div id="homeTeach" class="gridCell">
      <a routerLink="teach"> </a>
      <div class="cellTitle">
          Teach
      </div>
  </div>
  <div id="homeLearn" class="gridCell">
      <a routerLink="learn"> </a>
      <div class="cellTitle">
          Learn
      </div>
  </div>
  <div id="homeTrack" class="gridCell">
      <a routerLink="assessment"> </a>
      <div class="cellTitle">
          Track
      </div>
  </div>
  <div id="homeShare" class="gridCell">
      <a routerLink="share"> </a>
      <div class="cellTitle">
          Share
      </div>
  </div>
</div>