<div id="homeGrid">
  <div id="homeTeach" class="gridCell">
      <a routerLink="teach" role="teach"> 
      <div class="cellTitle" align="center">
          Teach<br>
            <div class="cellSubtitle">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean congue ullamcorper dolor.
            </div>
      </div></a>
  </div>
  <div id="homeLearn" class="gridCell">
      <a routerLink="learn"> 
      <div class="cellTitle" align="center">
          Learn<br>
          <div class="cellSubtitle">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean congue ullamcorper dolor.
          </div>
      </div></a>
  </div>
  <div id="homeTrack" class="gridCell">
      <a routerLink="assessment">
      <div class="cellTitle" align="center">
          Track<br>
          <div class="cellSubtitle">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean congue ullamcorper dolor.
          </div>
      </div> </a>
  </div>
  <div id="homeShare" class="gridCell">
      <a routerLink="share"> 
      <div class="cellTitle" align="center">
          Share<br>
          <div class="cellSubtitle">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean congue ullamcorper dolor.
          </div>
      </div></a>
  </div>
</div>